@{
    ViewBag.Title = "Home Page";
}

<main>
    <h4>Danh sách bài tập</h4>
    <ol>
        <li>
            Tạo một trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin: Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu, đơn vị và ảnh đại diện.
            <br>Khi người dùng nhấn nút Đăng ký, ứng dụng cho phép lưu thông tin nhân viên vừa nhập vào file text và lưu ở Server (lưu cả hình về server), ứng dụng cho phép mở thông tin của nhân viên vừa đăng ký hiển thị lại client web.
        </li>
        <li>
            Tạo 1 trang web cho phép đăng nhập vào email và gửi mail đến địa chỉ khác (dùng mail yahoo hoặc gmail). Thông tin gửi mail bao gồm: địa chỉ mail người gửi, mật khẩu người gửi, địa chỉ mail cần gửi đến, Tiêu đề, nội dung gửi.
            <br><i>Lưu ý</i>: email phải nhập đúng định dạng và bắt buộc không được rỗng.
        </li>
        <li>
            Tạo một chức năng cho phép người dùng chọn 1 ảnh bất kỳ (file Upload) để thay đổi banner trên giao diện web.
            <br><i>Lưu ý</i>: file ảnh sẽ được lưu trong tập tin *.txt.
        </li>
    </ol>
</main>