
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thông tin sinh viên</h3>

<table class="table">
    <tbody>
        <tr>
            <td><strong>Mã sinh viên:</strong></td>
            <td>64132989</td>
        </tr>
        <tr>
            <td><strong>Họ và tên:</strong></td>
            <td>Nguyễn Quang Vinh</td>
        </tr>
        <tr>
            <td><strong>Ngày sinh:</strong></td>
            <td>2000-01-01</td>
        </tr>
    </tbody>
</table>
