
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center gap-3 p-3 rounded shadow">
    <img src="~/Images/IMG_0679.JPG" class="rounded shadow-sm" style="width: 200px" />
    <table class="table table-borderless mb-0">
        <thead>
            <tr>
                <th colspan="2">
                    <h3 class="display-6 mb-3">Thông tin sinh viên dự thi</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fw-bold">Mã sinh viên</td>
                <td>64132989</td>
            </tr>
            <tr>
                <td class="fw-bold">Họ và tên</td>
                <td>Nguyễn Quang Vinh</td>
            </tr>
            <tr>
                <td class="fw-bold">Ngày sinh</td>
                <td>30/07/2004</td>
            </tr>
            <tr>
                <td class="fw-bold">Ngày kiểm tra</td>
                <td>01/11/2024 - G7.403</td>
            </tr>
        </tbody>
    </table>
</div>

