@{
    ViewBag.Title = "Thông tin sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h4 class="mt-3 mb-4">Thông tin cá nhân</h4>
    <div class="row mb-2">
        <div class="col-sm-4">
            <strong>Họ và Tên:</strong>
        </div>
        <div class="col-sm-8">
            Nguyễn Quang Vinh
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4">
            <strong>Mã sinh viên:</strong>
        </div>
        <div class="col-sm-8">
            20241001
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4">
            <strong>Ngày sinh:</strong>
        </div>
        <div class="col-sm-8">
            01/01/2004
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4">
            <strong>Lớp:</strong>
        </div>
        <div class="col-sm-8">
            CTK44
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4">
            <strong>Ngành học:</strong>
        </div>
        <div class="col-sm-8">
            Công nghệ thông tin
        </div>
    </div>
</div>
